@font-face{
	font-family: "FuturaStd";
	src: url("../../../resources/fonts/futurastdbold.otf");
}
@font-face{
	font-family: "Proxma";
	src: url("../../../resources/fonts/proximanova-regular.otf");
}
h1, h2, h3, h4, h5, h6, a, p {
	font-family: "FuturaStd";
	font-weight: 300;
	color: #333;
}
header.main-header {
	height: 150px;
	background-color: #ffff;
}
.top-line{
	background-color: #ffff;


}
.top-line a{
	color: #000;
}
.top-line ul{
	margin:0;
	padding:0;


}
.top-line li {
	list-style-type: none;
	display: inline-flex;
	margin: 64px 82px 64px 0px;
}
.logo img{
	margin-top: 42px;
	margin-left: 75px; 
}
.banner	{
	background-image: url("../../../img/banner.jpg") ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 580px;
	background-color: #464646;
}
.banner h1 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-top: 142px; 
}
.banner h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	color: #38bfce;
}
.banner h3{
	font-family: "Proxma";
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin: 28px 160px 55px 170px;
	line-height: 21px;
}
.banner button{
	background:#38bfce;
	border: 0;
	text-align: center;
	width: 225px;
	height: 50px;
	color: #fff;
	font-family: "Proxma";
	font-weight: 700;
	font-size: 18px;
	margin-left: 40%;


}

.photo-pannel{
	background-color: #e7e9ea;
}
.photo-pannel h2{
	text-align: center;
	font-size: 18px;
	margin-top: 76px;
	margin-bottom: 34px;
}

.footer p{
	font-family: "Proxma";
	display: inline-flex;

}
.clearfix {
	margin: 20px;
}


.corner: after { 
	content: ''; 
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent; 
	border-top: 30px solid transparent; 
	border-right: 200px solid #fff; 
	border-bottom: 5px solid #fff; 
	position: absolute; 
	bottom: 0; 
	right: 0; 
}
.photo-pannel img{
	position: relative; 
	height: 240px;
}
.photo-pannel: after { 
	content: ''; 
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent; 
	border-top: 30px solid transparent; 
	border-right: 200px solid #fff; 
	border-bottom: 5px solid #fff; 
	position: absolute; 
	bottom: 0; 
	right: 0; 
}
.whats-new h2{
	text-align: center;
	font-size: 18px;
	margin-top: 76px;
	margin-bottom: 34px;
}
.whats-new img{
	height: 282px;
}

.newsletter{
	background-image: url("../../../img/4blok/bgk.png");
	background-position: center center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
	min-height:280px;
	background-color: #464646;
}
.newsletter h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: 8%;

}
.newsletter h4{
	font-family: "Proxma";
	text-align: center;
	font-size: 14px;
	margin: 33px 370px 55px 370px;
	line-height: 28px;
}
.bot-line-content h3{
	font-size: 12px;
}
.bot-line-content ul{
	font-family: "Proxma";
	list-style-type: none;
	text-transform: uppercase;
	font-size: 9px;
	padding: 0px;
}
.sing-me-up {
	margin-left: 30%; 
}
.sing-me-up input{
	background:#ffffff;
	border: 0;
	padding-left: 20px;
	width: 345px;
	height: 46px;
	color: #9b9fa1;
	font-family: "Proxma";
	font-weight: 700;
	font-size: 14px;

}
.sing-me-up button{
	background:#38bfce;
	border: 0;
	text-align: center;
	width: 185px;
	height: 46px;
	color: #fff;
	font-family: "Proxma";
	font-weight: 700;
	font-size: 14px;

}